<header class="text-yellow-900 container mx-auto flex flex-wrap flex-row items-center justify-between relative z-10000">
  <div class="flex items-center justify-between">
    <div class="flex items-center pl-5 md:hidden"> <!-- md:hidden は 'medium' サイズ以上で非表示 -->
      <%= link_to root_path, data: { turbo: false } do %>
        <span class="fas fa-home "></span>
      <% end %>
    </div>
    <div class="pl-3 hidden sm:flex">
      <%= link_to root_path, data: { turbo: false } do %>
        <span class="text-lg" style="color: #C85914;">osiMemories</span>
      <% end %>
    </div>
  </div>

  <% if logged_in? %>
    <div class="flex justify-end md:hidden flex-wrap mr-3 space-x-3">
      <%= link_to mypages_path, data: { turbo: false }, class: "btn btn-ghost" do %>
        <i class="fas fa-solid fa-book mt-1 text-yellow-900 mb-1"></i>
        <div class="text-xs">マイページ</div>
      <% end %>

      <div class="relative z-10 focus:outline-none focus:ring-0 focus:border-none">
        <label class="btn btn-ghost btn-circle swap swap-rotate menu-trigger">
          <input type="checkbox" class="menu-toggle sr-only focus:outline-none focus:ring-0 focus:border-none" />
          <svg class="swap-off fill-current text-yellow-900" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
            <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/>
          </svg>
          <svg class="swap-on fill-current hidden text-yellow-900" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
              <polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/>
          </svg>
        </label>
        <div class="transition-transform duration-500 ease-in-out fixed top-[header-height] transform translate-y-[header-height] left-0 w-full h-full bg-5c7b64 z-10000 hidden full-screen-menu">
          <div class="flex flex-col justify-center h-full z-">
              <ul class="list-none p-0 m-0 text-center z-10000">
                  <li class= "text-white no-underline text-2xl">
                  メニュー
                  </li>
                  <li class="my-2 mt-12">
                      <%= link_to new_idol_path, class: "text-white text-lg no-underline hover:text-yellow-900 p-2 rounded" do %>
                          推しアイドル登録
                      <% end %>
                  </li>
                  <li class="my-2">
                      <%= link_to new_album_path, class: "text-white text-lg no-underline hover:text-yellow-900 p-2 rounded" do %>
                          アルバム作成
                      <% end %>
                  </li>
                  <li class="my-2">
                      <%= link_to new_photo_path, class: "text-white text-lg no-underline hover:text-yellow-900 p-2 rounded" do %>
                          写真登録
                      <% end %>
                  </li>
                  <li class="my-2">
                      <%= link_to new_notification_setting_path, class: "text-white text-lg no-underline hover:text-yellow-900 p-2 rounded" do %>
                          通知
                      <% end %>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end hidden md:flex space-x-3">
      <%= link_to mypages_path, data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-solid fa-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">マイページ</div>
        </label>
      <% end %>
      <%= link_to new_idol_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-user text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">推しアイドル登録</div>
        </label>
      <% end %>
      <%= link_to new_album_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="far fa-address-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">アルバム作成</div>
        </label>
      <% end %>
      <%= link_to new_photo_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-image text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">写真登録</div>
        </label>
      <% end %>
      <%= link_to new_notification_setting_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-bell text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">通知</div>
        </label>
      <% end %>
    </div>
  <% else %>
    <div class="flex justify-end space-x-3">
      <%= link_to new_user_path, class: "btn btn-sm btn-ghost rounded-btn px-2", data: { turbo: false } do %>
        ログイン
      <% end %>
    </div>
  <% end %>
</header>
