<header class="text-yellow-900 container mx-auto flex flex-wrap flex-row items-center justify-between ">
  <div class="flex items-center justify-between">
    <div class="flex items-center pl-5 md:hidden"> <!-- md:hidden は 'medium' サイズ以上で非表示 -->
      <%= link_to root_path do %>
        <span class="fas fa-home "></span>
      <% end %>
    </div>
    <div class="pl-3 hidden sm:flex">
      <%= link_to root_path, { class: "text-lg", style: "color: #C85914;" } do %>
        <span class="text-lg" style="color: #C85914;">osiMemories</span>
      <% end %>
    </div>
  </div>
  <% if logged_in? %>
    <div class="flex justify-end md:hidden flex-wrap mr-12">
      <%= link_to mypages_path do %>
        <label class="btn btn-sm btn-ghost items-center rounded-btn flex-col font-normal mr-1">
          <i class="fas fa-solid fa-book mt-1 text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">マイページ</div>
        </label>
      <% end %>
      <%= button_to logout_path, method: :delete, data: { turbo_method: :delete }, class: "w-auto flex-shrink-0" do %>
        <label class="btn btn-sm btn-ghost items-center rounded-btn flex-col font-normal">
          <i class="fas fa-sign-out-alt mt-50 text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">ログアウト</div>
        </label>
      <% end %>
      <div class="dropdown dropdown-end menu-compact pl-7">
          <label class="btn btn-sm btn-ghost rounded-btn" tabindex="0">
            <i class="fas fa-heart"></i>
          </label>
          <ul class="menu dropdown-content p-2 shadow bg-5c7b64 rounded w-52 mt-4" tabindex="0">
            <li>
              <%= link_to new_idol_path do %>
                推しアイドル登録
              <% end %>
            </li>
            <li>
              <%= link_to new_album_path do %>
                アルバム作成
              <% end %>
            </li>
            <li>
              <%= link_to new_photo_path do %>
                写真登録
              <% end %>
            </li>
            <li>
              <%= link_to new_notification_setting_path do %>
                通知
              <% end %>
            </li>
          </ul>
      </div>
    </div>
    <div class="flex justify-end hidden md:flex space-x-3">
      <%= link_to mypages_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-solid fa-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">マイページ</div>
        </label>
      <% end %>
      <%= link_to new_idol_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-user text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">推しアイドル登録</div>
        </label>
      <% end %>
      <%= link_to new_album_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="far fa-address-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">アルバム作成</div>
        </label>
      <% end %>
      <%= link_to new_photo_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-image text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">写真登録</div>
        </label>
      <% end %>
      <%= link_to new_notification_setting_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-bell text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">通知</div>
        </label>
      <% end %>
      <%= button_to logout_path, method: :delete, data: { turbo_method: :delete }, class: "w-auto flex-shrink-0" do %>
        <label class="btn btn-ghost rounded-btn items-center flex-col font-normal">
          <i class="fas fa-sign-out-alt text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">ログアウト</div>
        </label>
      <% end %>
    </div>
  <% else %>
    <div class="flex justify-end space-x-3">
      <%= link_to new_user_path, class: "btn btn-sm btn-ghost rounded-btn px-2", data: { turbo: false } do %>
        ログイン
      <% end %>
    </div>
  <% end %>
</header>
