
<div class="flex items-center p-1 md:p-2 w-full h-18 md:h-18 text-yellow-900 font-zenmaru">
  <div class="flex-1 px-3">
    <%= link_to "after_login", class: "block absolute top-0 left-0" do %>
      <%= image_tag '3-1.png', size: '150x40' %>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="flex justify-end md:hidden flex-wrap mr-12">
      <%= link_to mypages_path do %>
        <label class="btn btn-sm btn-ghost items-center rounded-btn flex-col font-normal mr-1">
          <i class="fas fa-solid fa-book mt-1 text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">マイページ</div>
        </label>
      <% end %>
      <%= button_to "#", method: :delete, class: "w-auto flex-shrink-0" do %>
        <label class="btn btn-sm btn-ghost items-center rounded-btn flex-col font-normal">
          <i class="fas fa-sign-out-alt mt-50 text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">ログアウト</div>
        </label>
      <% end %>
    </div>
    <div class="flex justify-end hidden md:flex space-x-3">
      <%= link_to mypages_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-solid fa-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">マイページ</div>
        </label>
      <% end %>
      <%= link_to new_idol_path do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-user text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">推しアイドル登録</div>
        </label>
      <% end %>
      <%= link_to "#" do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="far fa-address-book text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">アルバム作成</div>
        </label>
      <% end %>
      <%= link_to "#" do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-image text-lg text-yellow-900 mb-1"></i>
          <div class="text-xs">写真登録</div>
        </label>
      <% end %>
      <%= link_to "#" do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-sign-out-alt text-yellow-900 mb-1"></i>
          <div class="text-xs">ログアウト</div>
        </label>
      <% end %>
    </div>
  <% else %>
    <div class="flex justify-end space-x-3">
      <%= link_to "#", class: "btn btn-sm btn-ghost rounded-btn px-2" do %>
        ログイン
      <% end %>
      <%= link_to "#", class: "btn btn-sm btn-ghost rounded-btn px-2" do %>
        ガイド
      <% end %>
      <%= link_to "#", class: "btn btn-sm btn-ghost rounded-btn px-2" do %>
        新規登録
      <% end %>
    </div>
  <% end %>
</div>
