<div class='my-20 max-w-lg mx-auto'>
  <div>
    <%= image_tag "Angelina.png", class:'block mx-auto' %>
  </div>
  <div class='text-center pt-20'>
    <%= link_to 'みんなの推しアルバム', public_albums_path, class:'btn btn-primary', data: { turbo: false } %>
  </div>
  <div class="mt-20 mb-10 pt-20">
    <h1 class="md:text-base text-sm text-yellow-900 my-2 font-zenmaru text-center font-bold"><%= t('.site_description_html') %></h1>
  </div>
  <div class='text-sm mb-5 border-dotted border-2 border-yellow-700 rounded-box place-items-center'>
    <div class='my-10'>
      <%= image_tag '3.png', class:'block mx-auto' %>
      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p>写真を入れて<br>”結果が表示されます</p>
      </div>
    </div>
    <div class='my-10'>
      <%= image_tag '3.png', class:'block mx-auto' %>
      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p><br>プロフィールカードができます</p>
      </div>
    </div>
    <div class='mt-20 mb-5'>
      <%= image_tag '3.png', class:'block mx-auto' %>
      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p><br></p>
      </div>
    </div>
  </div>
  <div class='text-center pt-20'>
    <%= link_to t('マイページ'), "#", class:'btn btn-primary', data: { turbo: false } %>
  </div>
</div>
