<div class='my-20 max-w-lg mx-auto'>
  <div>
    <%= image_tag "Angelina.png", class:'block mx-auto' %>
  </div>
  <div class='text-sm mb-5 border-dotted border-2 border-yellow-700 rounded-box place-items-center'>
    <div class='text-center text-lg my-2 font-zenmaru'>
        <p>osiMemoriesとは<br>
    </div>
    <div class='text-center my-2 font-zenmaru'>
        <br>あなたが愛する「推し」（お気に入りのキャラクター、ペット、恋人、子供...）との思い出の写真をLINEbotでランダムに届けてくれるサービスです。<br>毎日の生活に癒しを提供し、自分でも忘れていた思い出の写真を再発見できます。<p>
    </div>
  </div>
  <div class="mt-20 mb-10 pt-20">
    <h1 class="md:text-base text-sm text-yellow-900 my-2 font-zenmaru text-center font-bold">使用方法</h1>
  </div>
  <div class='text-sm mb-5 border-dotted border-2 border-yellow-700 rounded-box place-items-center'>
    <div class='my-10'>
      <div class='text-center text-lg text-yellow-900 my-2 font-zenmaru'>
        STEP 1
      </div>
      <%= image_tag 'QR.png', class:'block mx-auto', size: '300x300' %>
      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p>『osiMemories』をお友達追加して、LINE認証してね</p>
      </div>
    </div>
    <div class='my-10'>
      <div class='text-center text-lg text-yellow-900 my-2 font-zenmaru'>
        STEP 2
      </div>
      <%= image_tag '登録1.png', class:'block mx-auto', size: '250x250' %>
      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p>  <br>1: 推しアイドル登録<br>2: アルバムを作成<br>3: 写真登録<br>この順番で登録してね</p>
      </div>
    </div>
    <div class='mt-20 mb-5'>
      <div class='text-center text-lg text-yellow-900 my-2 font-zenmaru'>
        STEP 3
      </div>
      <div class='flex flex-col sm:flex-row items-center'>
        <%= image_tag '通知.png', class:'block mx-auto mb-4 sm:mb-0', size: '250x250' %>
        <%= image_tag '通知2.png', class:'block mx-auto', size: '250x250' %>
      </div>

      <div class='text-center text-sm text-yellow-900 my-2 font-zenmaru'>
        <p>お届けして欲しい時間帯を選んでね<br>ワクワク感を楽しんで欲しいので、何時に届くかはお楽しみ！！</p>
      </div>
    </div>
  </div>
  <div class='text-center pt-20'>
    <%= link_to t('ログイン'), new_user_path, class:'btn btn-primary', data: { turbo: false } %>
  </div>
</div>
