<%= stylesheet_link_tag 'idols_content', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="sticky-note-container opacity-0 scroll-fade-in">
  <% if @idols.present? %>
    <% @idols.each do |idol| %>
      <%= link_to idol_path(idol), class: "block transition-transform duration-300 hover:scale-105", data: { turbo: "false" } do %>
        <div class="sticky-note">
          <div class="sticky-note-content">
            <div class="idol-item">
              <span class="idol-label">推し：</span>
              <span class="idol-data"><%= idol.name %></span>
            </div>
            <div class="idol-item">
              <span class="idol-label">誕生日：</span>
              <span class="idol-data"><%= idol.birth_date&.strftime('%Y年%m月%d日') || '未登録' %></span>
            </div>
            <div class="idol-item">
              <span class="idol-label">通知：</span>
              <span class="idol-data"><%= idol.is_selected ? 'ON' : 'OFF' %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-center text-gray-500">登録された推しメンはいません。</p>
  <% end %>
</div>
