<div class="container mx-auto p-4 bg-rose-50 font-kaisei-decol">
  <% if @album %>
    <h1 class="text-3xl font-bold mb-6 text-rose-600"><%= @album.name %></h1>
  <% end %>

  <div class="flex flex-wrap -m-3">
    <% @photos.each do |photo| %>
      <div class="w-full lg:w-1/4 p-3 mb-6 opacity-0 scroll-fade-in">
        <div id="photo-id-<%= photo.id %>" class="border rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300">
          
          <!-- Add img-container class here -->
          <div class="img-container"> 
            <%= image_tag photo.image.url, class: 'w-full h-auto' %>
          </div>

          <div class="p-4 bg-pink-100">
            <div class="flex items-center space-x-2 mb-2 text-yellow-900">
              <i class="far fa-calendar-alt mr-1"></i>
              <%= l(photo.capture_date, format: :short) if photo.capture_date.present? %>
            </div>

            <div class="flex flex-wrap space-x-2 mb-2">
              <% photo.tags.each do |tag| %>
                <%= link_to photo_tag_path(tag.tag_names), class: "hover:rotate-90 transform transition-transform duration-500", data: { turbo: "false" } do %>
                  <span class="inline-block bg-rose-200 text-rose-600 hover:text-white rounded-full px-2 py-1 text-xs font-bold"><%= tag.tag_names %></span>
                <% end %>
              <% end %>
            </div>
            <p class="text-sm mb-3 text-pink-600 "><%= photo.body %></p>

            <!-- uploader の名前を追加 -->
            <div class="text-right text-xs text-gray-400">
              アップロード者: <%= photo.uploader ? photo.uploader.name : '不明' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Add the image container styles -->
<style>
  .img-container {
    width: 100%;  /* You can adjust this */
    height: 260px;  /* And this */
    overflow: hidden;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
