<%= form_for :composite, url: image_composites_path, html: { multipart: true, id: 'composite-form' } do |f| %>
  <%= f.hidden_field :photo_id, value: @selected_photo_id, id: 'selected-photo-id' %>
  <div id="image-preview-container"></div> <!-- 画像プレビュー表示用のコンテナ -->
  <button type="button" id="toggle-heart-stamp">ハートのスタンプを追加/削除</button>
  <!-- JavaScriptで操作するための隠しフィールド -->
  <%= f.hidden_field :overlay, id: 'overlay' %>
  <%= f.hidden_field :x_offset, id: 'x-offset' %>
  <%= f.hidden_field :y_offset, id: 'y-offset' %>
  <%= f.hidden_field :width, id: 'width' %>
  <%= f.hidden_field :height, id: 'height' %>
  <%= f.submit "合成" %>
<% end %>
