<% @Photo.each do |image| %>
  <div class="image-item">
    <%= image_tag image.url %>
    <button type="button" class="select-image" data-image-id="<%= image.id %>">この画像を選択</button>
  </div>
<% end %>

<%# <%= form_for @photo, url: image_composites_path, html: { multipart: true, id: 'composite-form', data: { turbo: false } } do |f| %>
  <%# <%= f.file_field :image, id: 'image-upload' %>
  <%# <div id="image-preview-container"></div> <!-- 画像プレビュー表示用のコンテナ -->
  <button type="button" id="toggle-heart-stamp">ハートのスタンプを追加/削除</button>
  <!-- JavaScriptで操作するための隠しフィールド -->
  <%= f.hidden_field :overlay, id: 'overlay' %>
  <%# <%= f.hidden_field :x_offset, id: 'x-offset' %>
  <%# <%= f.hidden_field :y_offset, id: 'y-offset' %>
  <%# <%= f.hidden_field :width, id: 'width' %>
  <%# <%= f.hidden_field :height, id: 'height' %>
  <%# <%= f.submit "合成" %>
<%# <% end %> %> %> %> %> %> %> %> %> %>
